<main>
  <nav class="navbar">
    <!-- Logo Section -->
    <a href="#" class="logo">
      <img src="StayOnLogo.png" alt="Logo" />
    </a>

    <!-- Navigation Links -->
    <div class="nav-links">
      <a href="#" class="nav-item active">
        <i class="bx bxs-home"></i>
        <span>Inicio</span>
      </a>
      <a href="#" class="nav-item" (click)="goToProfile(userId)">
        <i class="bx bxs-book"></i>
        <span>Estudio</span>
      </a>
      <a href="#" class="nav-item">
        <i class="bx bx-question-mark"></i>
        <span>Sobre Nosotros</span>
      </a>
      <a href="meeting" class="nav-item">
        <i class="bx bx-question-mark"></i>
        <span>Crear Reunion</span>
      </a>
      <a href="meetings" class="nav-item">
        <i class="bx bx-question-mark"></i>
        <span>Reuniones</span>
      </a>
    </div>

    <!-- Right Section: Search, User Icon, Name, and Logout -->
    <div class="nav-right">
      <a href="#" id="user-icon" aria-label="User account" (click)="goToProfile(userId)">
        <i class="bx bxs-user-circle"></i>
      </a>
      <p id="userName">{{ userName }}</p>
      <button class="logout-button" (click)="logout()">Cerrar sesión</button>
    </div>
  </nav>
</main>