<div class="login-wrapper">
  <div class="right-side">
    <div class="login-card">
      <img src="logo.png" class="logo-img" />
      <h2>Recuperar Contraseña</h2>
      <form [formGroup]="resetForm">
        <div class="form-group">
          <label for="newPassword">Contraseña nueva</label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="newPassword"
            placeholder="Ingresa una contraseña"
            formControlName="newPassword"
            name="newPassword"
          />
          <div class="eye-icon">
            <i
              class="bx bx-low-vision"
              (mousedown)="togglePassword(true)"
              (mouseup)="togglePassword(false)"
              (mouseleave)="togglePassword(false)"
              [ngClass]="{ pressed: showPassword }"
            ></i>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Repetir contraseña</label>
          <input
            [type]="showPassword2 ? 'text' : 'password'"
            id="confirmPassword"
            placeholder="Ingresar nuevamente la contraseña"
            formControlName="confirmPassword"
            name="confirmPassword"
          />
          <div class="eye-icon">
            <i
              class="bx bx-low-vision"
              (mousedown)="togglePassword2(true)"
              (mouseup)="togglePassword2(false)"
              (mouseleave)="togglePassword2(false)"
              [ngClass]="{ pressed: showPassword2 }"
            ></i>
          </div>
        </div>
        <button type="submit" (click)="resetPassword()">Restablecer</button>
        <p
          class="error-message"
          [ngClass]="{
            'is-invalid':
              resetForm.get('newPassword')!.invalid &&
              resetForm.get('newPassword')!.touched
          }"
        >
          Contraseña debe tener al menos 8 caracteres, una mayúscula, una
          minúscula y un número
        </p>
        <p
          class="error-message"
          [ngClass]="{
            'is-invalid': 
              (resetForm.get('confirmPassword')?.touched && 
              (resetForm.get('confirmPassword')?.invalid || resetForm.get('confirmPassword')?.errors?.['passwordMismatch']))
          }"
        >
          Contraseña no coincide
        </p>
      </form>
    </div>
  </div>
</div>
