<div class="container">
  <div class="main-content">
    <!-- Perfil del usuario -->
    <div class="profile-card">
      <div class="profile-header">
        <div class="profile-avatar">
          {{
            (firstName.substring(0, 1) + lastName.substring(0, 1)).toUpperCase()
          }}
        </div>
        @if (myProfile()) {
        <button class="edit-button" (click)="updateProfile()">
          <i class="bx bxs-pencil"></i>
        </button>
        }
      </div>
      <div class="profile-info">
        <div class="profile-name-container">
          <h2 class="profile-name">
            {{
              profile.firstName +
                " " +
                (profile.middleName ? profile.middleName : "") +
                " " +
                profile.lastName +
                " " +
                (profile.secondLastName ? profile.secondLastName : "")
            }}
          </h2>
          @if (!myProfile() && userIsFollowing(profile.id)) {
          <button
            class="btn-follow btn-following"
            (mouseenter)="onMouseEnter()"
            (mouseleave)="onMouseLeave()"
            [ngClass]="{
              following: isFollowing,
              unfollow: isHovered && isFollowing
            }"
            (click)="unFollow(profile.id)"
          >
            {{ isHovered && isFollowing ? "Dejar de seguir" : "Siguiendo" }}
          </button>
          }@else if (!myProfile() && !userIsFollowing(profile.id)) {
          <button
            class="btn-follow btn-following"
            (click)="followUser(profile.id)"
          >
            Seguir
          </button>
          }
        </div>
        <div class="profile-detail">
          <i class="bx bx-envelope"></i>
          <p>{{ profile.email }}</p>
        </div>
        <div class="profile-detail">
          <i class="bx bxs-graduation"></i>
          {{ profile.major }}
        </div>
        <div class="profile-stats">
          <div class="stat-item">
            <div class="stat-value">{{ posts }}</div>
            <div class="stat-label">Publicaciones</div>
          </div>
          <div class="stat-item">
            <div class="stat-value">{{ followers }}</div>
            <div class="stat-label">Seguidores</div>
          </div>
          <div class="stat-item">
            <div class="stat-value">{{ following }}</div>
            <div class="stat-label">Siguiendo</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Posts del usuario -->
    <div class="posts-container">
      @for (item of profile.Posts; track $index;let i=$index) {
      <div class="post-card">
        <div class="post-author">
          <div class="post-avatar">
            {{
              (
                profile.firstName.substring(0, 1) +
                profile.lastName.substring(0, 1)
              ).toUpperCase()
            }}
          </div>
          <div class="post-author-info">
            <div class="post-author-name">
              {{
                profile.firstName +
                  " " +
                  (profile.middleName ? profile.middleName : "") +
                  " " +
                  profile.lastName +
                  " " +
                  (profile.secondLastName ? profile.secondLastName : "")
              }}
            </div>
            <div class="post-date">{{ formatDate(item.date) }}</div>
            <div class="post-tag">{{ item.Topic.name }}</div>
          </div>
        </div>
        <div class="post-content">
          {{ item.message }}
        </div>

        @if(item.Materials && item.Materials.length > 0) {
        <div class="post-attachments">
          <div class="attachment-preview-images">
            @for (item of filterImages(item.Materials); track $index) {
            <img
              [src]="'http://localhost:3000/uploads/' + item.uri"
              alt="{{ item.name }}"
              class="attachment-preview-image"
            />
            } @for (item of filterVideos(item.Materials); track $index) {
            <video controls class="attachment-preview-image">
              <source
                [src]="'http://localhost:3000/uploads/' + item.uri"
                type="video/mp4"
              />
              Tu navegador no soporta el video.
            </video>
            }
          </div>

          <div class="attachment-preview-document">
            @for (item of filterDocuments(item.Materials); track $index) {
            <a
              [href]="'http://localhost:3000/uploads/' + item.uri"
              target="_blank"
              rel="noopener noreferrer"
              class="attachment-download-link"
            >
              <img src="file-logo.png" alt="Word" class="file-icon" />
              <span class="file-name">{{ item.name }}</span>
            </a>
            }
          </div>
        </div>
        }

        <div class="post-footer">
          <hr class="post-separator" />
          <button class="comment-btn" (click)="showPost(item.id)">
            Comentar
          </button>
        </div>
      </div>
      }
    </div>
  </div>

  <!-- Panel de seguidos -->
  <div class="following-container">
    <div class="following-header">Siguiendo</div>
    <div class="following-list">
      @for (item of profile.Following; track $index;let i=$index) {
      <div class="following-item">
        <div class="following-avatar">
          {{
            (item.firstName ? item.firstName.substring(0, 1) : "") +
              (item.lastName ? item.lastName.substring(0, 1).toUpperCase() : "")
          }}
        </div>
        <div class="following-info">
          <div class="following-name" (click)="showProfile(item.id)">
            {{
              item.firstName +
                " " +
                (item.middleName ? item.middleName : "") +
                " " +
                item.lastName +
                " " +
                (item.secondLastName ? item.secondLastName : "")
            }}
          </div>
          <div class="following-program">{{ item.major }}</div>
        </div>
        @if (userIsFollowing(item.id) && !isMyProfile(item.id)) {
        <button
          class="btn-follow btn-following"
          (mouseenter)="hoveredIndex = i"
          (mouseleave)="hoveredIndex = null"
          [ngClass]="{
            following: true,
            unfollow: hoveredIndex === i
          }"
          (click)="unFollow(item.id)"
        >
          {{ hoveredIndex === i ? "Dejar de seguir" : "Siguiendo" }}
        </button>
        }@else if (!userIsFollowing(item.id) && !isMyProfile(item.id)){
        <button class="btn-follow btn-following" (click)="followUser(item.id)">
          Seguir
        </button>
        }
      </div>
      }
    </div>
  </div>
  @if (showUserForm) {
  <div class="edit-profile-wrapper">
    <div class="edit-profile-card">
      <img src="logo.png" class="logo-img" />
      <h2>Editar Perfil</h2>
      <form class="manage-form" [formGroup]="userForm">
        <div class="form-group">
          <label for="firstName">Nombre</label>
          <input type="text" id="firstName" formControlName="firstName" />
        </div>

        <div class="form-group">
          <label for="middleName">Segundo Nombre (opcional)</label>
          <input type="text" id="middleName" formControlName="middleName" />
        </div>

        <div class="form-group">
          <label for="lastName">Primer Apellido</label>
          <input type="text" id="lastName" formControlName="lastName" />
        </div>

        <div class="form-group">
          <label for="secondLastName">Segundo Apellido (opcional)</label>
          <input
            type="text"
            id="secondLastName"
            formControlName="secondLastName"
          />
        </div>

        <div class="form-group">
          <label for="major">Carrera</label>
          <input type="text" id="major" formControlName="major" />
        </div>

        <div class="form-group">
          <label for="age">Edad</label>
          <input type="number" id="age" formControlName="age" />
        </div>

        <button type="submit" (click)="saveData()">Guardar Cambios</button>
        <button type="cancel" (click)="cancelEdit()">Cancelar</button>
      </form>
    </div>
  </div>
  }
</div>
