<div class="container">
  <div class="main-content">
    <!-- Perfil del usuario -->
    <div class="profile-card">
      <div class="profile-header">
        <div class="profile-avatar">
          {{
            (profile.firstName.substring(0, 1) + profile.lastName.substring(0, 1)).toUpperCase()
          }}
        </div>
        @if (myProfile()) {
        <button class="edit-button" (click)="updateProfile()">
          <i class="bx bxs-pencil"></i>
        </button>
        }
      </div>
      <div class="profile-info">
        <h2 class="profile-name">
          {{
            profile.firstName +
              " " +
              (profile.middleName ? profile.middleName : "") +
              " " +
              profile.lastName +
              " " +
              (profile.secondLastName ? profile.secondLastName : "")
          }}
        </h2>
        <div class="profile-detail">
          <i class="bx bx-envelope"></i>
          <p>{{ profile.email }}</p>
        </div>
        <div class="profile-detail">
          <i class="bx bxs-graduation"></i>
          {{ profile.major }}
        </div>
        <div class="profile-stats">
          <div class="stat-item">
            <div class="stat-value">{{ profile.Posts.length }}</div>
            <div class="stat-label">Publicaciones</div>
          </div>
          <div class="stat-item">
            <div class="stat-value">{{ profile.Followers.length }}</div>
            <div class="stat-label">Seguidores</div>
          </div>
          <div class="stat-item">
            <div class="stat-value">{{ profile.Following.length }}</div>
            <div class="stat-label">Siguiendo</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Posts del usuario -->
    <div class="posts-container">
      @for (item of profile.Posts; track $index;let i=$index) {
      <div class="post-card">
        <div class="post-author">
          <div class="post-avatar">
            {{
              (profile.firstName.substring(0, 1) +
                profile.lastName.substring(0, 1)).toUpperCase()
            }}
          </div>
          <div class="post-author-info">
            <div class="post-author-name">{{
              profile.firstName +
                " " +
                (profile.middleName ? profile.middleName : "") +
                " " +
                profile.lastName +
                " " +
                (profile.secondLastName ? profile.secondLastName : "")
            }}</div>
            <div class="post-date">{{ formatDate(item.date) }}</div>
            <div class="post-tag">{{ item.Topic.name }}</div>
          </div>
        </div>
        <div class="post-content">
          {{ item.message }}
        </div>
        <div class="attachments-box">
          @for (item of item.Materials; track $index) {
          <div class="attachment-item">
            <div class="attachment-icon">
              @switch (item.type) { @case ('document') {
              <i class="bx bxs-file"></i>
              } @case ('image') {
              <i class="bx bxs-image"></i>
              } @case ('video') {
              <i class="bx bxs-video"></i>
              } @case ('url') {
              <i class="bx bx-link"></i>
              } @default {
              <i class="bx bx-question-mark"></i>
              } }
            </div>
            <div class="attachment-label">{{ item.name }}</div>
          </div>

          } @empty { No hay archivos adjuntos. }
        </div>
        <div class="post-footer">
          <hr class="post-separator" />
          <button class="comment-btn" (click)="showPost(item.id)">
            Comentar
          </button>
        </div>
      </div>
      }
    </div>
  </div>

  <!-- Panel de seguidos -->
  <div class="following-container">
    <div class="following-header">Siguiendo</div>
    <div class="following-list">
      @for (item of profile.Following; track $index;let i=$index) {
      <div class="following-item">
        <div class="following-avatar">{{ (item.firstName ? item.firstName.substring(0, 1) : '') +
   (item.lastName ? item.lastName.substring(0, 1).toUpperCase() : '') }}</div>
        <div class="following-info">
          <div class="following-name" (click)="showProfile(item.id)">
            {{
              item.firstName +
                " " +
                (item.middleName ? item.middleName : "") +
                " " +
                item.lastName +
                " " +
                (item.secondLastName ? item.secondLastName : "")
            }}
          </div>
          <div class="following-program">{{ item.major }}</div>
        </div>
        <button class="btn-follow btn-following">Siguiendo</button>
      </div>
      }
    </div>
  </div>
  @if (showUserForm) {
  <div class="edit-profile-wrapper">
    <div class="edit-profile-card">
      <img src="logo.png" class="logo-img" />
      <h2>Editar Perfil</h2>
      <form class="manage-form" [formGroup]="userForm">
        <div class="form-group">
          <label for="firstName">Nombre</label>
          <input type="text" id="firstName" formControlName="firstName" />
        </div>
  
        <div class="form-group">
          <label for="middleName">Segundo Nombre (opcional)</label>
          <input type="text" id="middleName" formControlName="middleName" />
        </div>
  
        <div class="form-group">
          <label for="lastName">Primer Apellido</label>
          <input type="text" id="lastName" formControlName="lastName" />
        </div>
  
        <div class="form-group">
          <label for="secondLastName">Segundo Apellido (opcional)</label>
          <input type="text" id="secondLastName" formControlName="secondLastName" />
        </div>
  
        <div class="form-group">
          <label for="major">Carrera</label>
          <input type="text" id="major" formControlName="major" />
        </div>
  
        <div class="form-group">
          <label for="age">Edad</label>
          <input type="number" id="age" formControlName="age" />
        </div>
  
        <button type="submit" (click)="saveData()">Guardar Cambios</button>
        <button type="cancel" (click)="cancelEdit()">Cancelar</button>
      </form>
    </div>
  </div>
}
  
</div>
