<div class="login-wrapper">
  <div class="left-side">
    <img src="login2.png" alt="login image" />
  </div>
  <div class="right-side">
    <div class="login-card">
      <img src="logo.png" class="logo-img" />
      <h2>Recuperar Contraseña</h2>
      <form>
        <div class="form-group">
          <label for="email">Correo de la cuenta</label>
          <input
            type="email"
            id="email"
            placeholder="Ingresa tu correo"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
        <button type="submit" (click)="requestPasswordReset()">
          Solicitar
        </button>
        <p class="register-link">
          ¿Ya tienes una cuenta? <a href="/login">Iniciar Sesión</a>
        </p>
      </form>
    </div>
  </div>
</div>
